blake3==1.0.8
absl-py==2.3.1
antlr4-python3-runtime==4.9.3
opentelemetry-exporter-otlp-proto-http==1.26.0
fastapi==0.128.0
glfw==2.10.0
imageio-ffmpeg==0.6.0
pycountry==24.6.1
annotated-types==0.7.0
typing_extensions==4.15.0
PyOpenGL==3.1.10
mujoco==3.4.0
packaging==25.0
opentelemetry-exporter-otlp-proto-common==1.26.0
orderly-set==5.5.0
iniconfig==2.3.0
einops==0.8.1
click==8.3.1
aiohttp==3.13.2
setuptools==80.9.0
python-xlib==0.33
toolz==1.1.0
rpds-py==0.30.0
evdev==1.9.2
airportsdata==20250909
aiofiles==25.1.0
nvidia-nvtx-cu12==12.4.127
psutil==7.1.3
cupy-cuda12x==13.6.0
matplotlib==3.5.3
typer==0.21.0
pyasn1==0.6.1
easydict==1.9
zipp==3.23.0
depyf==0.18.0
tensorstore==0.1.80
jsonlines==4.0.0
nvidia-cuda-runtime-cu12==12.4.127
fastapi-cloud-cli==0.8.0
sympy==1.13.1
jsonschema-specifications==2025.9.1
ninja==1.13.0
jupytext==1.18.1
yarl==1.22.0
opentelemetry-semantic-conventions-ai==0.4.13
partial-json-parser==0.2.1.1.post7
joblib==1.5.3
decorator==5.2.1
email-validator==2.3.0
google-api-core==2.28.1
lazy_loader==0.4
shtab==1.8.0
docstring_parser==0.17.0
tiktoken==0.12.0
jaxtyping==0.2.36
Deprecated==1.3.1
uv==0.9.17
huggingface-hub==0.35.3
multidict==6.7.0
sentencepiece==0.2.0
safetensors==0.7.0
wget==3.2
Tree==0.2.4
propcache==0.4.1
fsspec==2024.9.0
xxhash==3.6.0
pydantic-settings==2.12.0
opencv-python-headless==4.12.0.88
nbformat==5.10.4
jiter==0.12.0
numpydantic==1.6.9
google-cloud-core==2.5.0
aiohappyeyeballs==2.6.1
python-dateutil==2.9.0.post0
lark==1.2.2
ml_dtypes==0.5.4
nvidia-cusparselt-cu12==0.6.2
bddl==1.0.1
httpx==0.28.1
pydantic-extra-types==2.10.6
tqdm-loggable==0.2
prometheus-fastapi-instrumentator==7.1.0
torchvision==0.21.0
numpy==2.2.6
networkx==3.6.1
openai-agents==0.6.3
torchaudio==2.6.0
Pygments==2.19.2
referencing==0.37.0
grpcio==1.76.0
nvidia-nccl-cu12==2.21.5
pydantic==2.12.5
rich-toolkit==0.17.1
msgpack==1.1.2
pyparsing==3.2.5
opentelemetry-sdk==1.26.0
draccus==0.10.0
cachetools==6.2.2
pyarrow==22.0.0
pip==25.3
certifi==2025.11.12
mergedeep==1.3.4
pynput==1.8.1
wandb==0.21.4
annotated-doc==0.0.4
distro==1.9.0
nvidia-cufile-cu12==1.13.0.11
scikit-learn==1.8.0
openai==2.13.0
urllib3==2.6.2
mypy_extensions==1.1.0
simplejson==3.20.2
deepdiff==8.6.1
linkify-it-py==2.0.3
google-auth==2.41.1
python-json-logger==4.0.0
cryptography==46.0.3
Jinja2==3.1.6
tzdata==2025.2
nvidia-cudnn-cu12==9.1.0.70
pyserial==3.5
python-multipart==0.0.20
tifffile==2025.12.12
nvidia-cusolver-cu12==11.6.1.9
interegular==0.3.3
opencv-python==4.12.0.88
traitlets==5.14.3
opentelemetry-api==1.26.0
outlines_core==0.1.26
pydantic_core==2.41.5
pycparser==2.23
tyro==0.9.2
google-auth-oauthlib==1.2.3
websockets==15.0.1
fastar==0.8.0
wheel==0.45.1
outlines==0.1.11
hf_transfer==0.1.9
accelerate==1.12.0
sentry-sdk==2.47.0
pytz==2025.2
rignore==0.7.6
opentelemetry-exporter-otlp==1.26.0
xformers==0.0.29.post2
protobuf==4.25.8
compressed-tensors==0.9.3
py-cpuinfo==9.0.0
timm==1.0.22
pytest==9.0.2
pyasn1_modules==0.4.2
orbax-checkpoint==0.11.13
uc-micro-py==1.0.3
imageio==2.36.1
python-dotenv==1.2.1
nvidia-cuda-cupti-cu12==12.4.127
etils==1.13.0
frozenlist==1.8.0
pyzmq==27.1.0
gym-notices==0.1.0
six==1.17.0
numba==0.61.2
PyJWT==2.10.1
augmax==0.4.1
opentelemetry-exporter-otlp-proto-grpc==1.26.0
mpmath==1.3.0
torchcodec==0.5
regex==2025.11.3
shellingham==1.5.4
dnspython==2.8.0
mcp==1.24.0
jax==0.5.3
typing-inspect==0.9.0
watchfiles==1.1.1
cloudpickle==2.1.0
gitdb==4.0.12
oauthlib==3.3.1
svgwrite==1.4.3
types-requests==2.32.4.20250913
google-cloud-storage-control==1.8.0
h11==0.16.0
grpc-google-iam-v1==0.14.3
attrs==25.4.0
vllm==0.8.5.post1
requests==2.32.5
wrapt==2.0.1
hydra-core==1.3.2
future==0.18.2
uvicorn==0.38.0
sniffio==1.3.1
smmap==5.0.2
openpi-client==0.1.0
nvidia-nvjitlink-cu12==12.4.127
tqdm==4.67.1
transformers==4.53.2
opt_einsum==3.4.0
pyyaml-include==1.4.1
jaxlib==0.5.3
gym==0.25.2
nvidia-curand-cu12==10.3.5.147
openpi==0.1.0
beartype==0.19.0
diskcache==5.6.3
dill==0.3.8
astor==0.8.1
narwhals==2.14.0
typeguard==4.4.4
fonttools==4.61.0
nvidia-cuda-nvcc-cu12==12.9.86
kiwisolver==1.4.9
pfzy==0.3.4
cffi==2.0.0
fastrlock==0.8.3
mdurl==0.1.2
gymnasium==1.2.2
diffusers==0.35.2
verifiers==0.1.8.post2
robosuite==1.4.1
flax==0.10.2
sse-starlette==3.0.4
pandas==2.3.3
nest-asyncio==1.6.0
datasets==3.2.0
MarkupSafe==2.1.5
httpcore==1.0.9
nvidia-cufft-cu12==11.2.1.3
threadpoolctl==3.6.0
google-crc32c==1.7.1
libero==0.1.0
pillow==12.0.0
plotly==6.5.0
jax-cuda12-plugin==0.5.3
httptools==0.7.1
importlib_resources==6.5.2
toml==0.10.2
starlette==0.50.0
google-cloud-storage==3.7.0
requests-oauthlib==2.0.0
PyYAML==6.0.3
hf-xet==1.2.0
chex==0.1.91
tokenizers==0.21.4
opentelemetry-semantic-conventions==0.47b0
av==15.1.0
colorama==0.4.6
markdown-it-py==4.0.0
lerobot==0.4.2
gguf==0.17.1
scikit-image==0.25.2
omegaconf==2.3.0
textual==6.10.0
llvmlite==0.44.0
googleapis-common-protos==1.72.0
GitPython==3.1.45
multiprocess==0.70.16
prime-sandboxes==0.2.6
uvloop==0.22.1
mistral_common==1.8.8
Overcomplete==0.3.0
pluggy==1.6.0
jsonschema==4.25.1
jax-cuda12-pjrt==0.5.3
nvidia-cusparse-cu12==12.3.1.170
grpcio-status==1.76.0
dm-tree==0.1.9
prompt_toolkit==3.0.52
tenacity==9.1.2
opentelemetry-proto==1.26.0
Farama-Notifications==0.0.4
httpx-sse==0.4.3
llguidance==0.7.30
hash-values==0.1.0
rerun-sdk==0.26.2
termcolor==3.2.0
filelock==3.20.0
idna==3.11
jupyter_core==5.9.1
cycler==0.12.1
wcwidth==0.2.14
google-resumable-media==2.8.0
prometheus_client==0.23.1
lm-format-enforcer==0.10.12
gcsfs==2025.12.0
charset-normalizer==3.4.4
xgrammar==0.1.18
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cublas-cu12==12.4.5.8
inquirerpy==0.3.4
scipy==1.16.3
triton==3.2.0
tensorboardX==2.6.4
griffe==1.15.0
typing-inspection==0.4.2
humanize==4.14.0
proto-plus==1.26.1
ray==2.48.0
anyio==4.12.0
fastapi-cli==0.0.20
ml_collections==1.0.0
optax==0.2.6
platformdirs==4.5.1
aiosignal==1.4.0
rsa==4.9.1
rich==14.2.0
mdit-py-plugins==0.5.0
torch==2.6.0
cmake==4.1.3
fastjsonschema==2.21.2
msgspec==0.20.0
importlib_metadata==8.0.0
jaraco.context==5.3.0
tomli==2.0.1
jaraco.text==3.12.1
typing_extensions==4.12.2
packaging==24.2
wheel==0.45.1
platformdirs==4.2.2
autocommand==2.2.2
jaraco.functools==4.0.1
inflect==7.3.1
typeguard==4.3.0
backports.tarfile==1.2.0
more-itertools==10.3.0
zipp==3.19.2
jaraco.collections==5.1.0
importlib_metadata==8.0.0
